{% extends 'base.html.twig' %}

{% block title %}Les services{% endblock %}

{% block body %}
    <h2>Les Services</h2>

    <h3>Cryptage</h3>

    <p>Message crypté: {{ cipher_text }}</p>

{% endblock %}
