{% extends 'base.html.twig' %}

{% block title %}Hello RequestController!{% endblock %}

{% block body %}
    <h1>Route & Request</h1>
    <p>
        <a href="/request">Revenir à la page request</a>
    </p>

    <p>Valeur TTC : {{ number }}</p>


{% endblock %}
