{% extends 'base.html.twig' %}

{% block title %}Enregistrer un utilisateur{% endblock %}

{% block body %}
    <h2>Enregistrer un utilisateur</h2>

    <div class="mb-3">
        <a href="{{ path('user_index') }}" class="btn btn-sm btn-outline-dark">Revenir à la liste</a>
    </div>

    {{ form_start(form) }}

    {{ form_rest(form) }}

    <button class="btn btn-primary">Enregister un utilisateur</button>

    {{ form_end(form) }}

{% endblock %}
